# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

*.zip
*.gz
*.tar
*.exe
*.prof
*.pprof
*.AppImage
*.safetensors
*.wal
*.shm
*.db
*.json3
*.vtt

node_modules/
dist/
.env
*.log
headers.json
clones/
workspaces/
.gemini/

.code-graph/
codegraph/
.zen/
.zenmcp/
scratch/
map.json
map2.json


*.zip
*.exe
*.tar
*.gz
zen-tts
bin/
vendor/
build/
go.work
go.work.sum
tls-client/
fhttp/
utls/
www/
piper/
models/
*.wav
clones/
